@font-face{
    font-family:"Proxima N W01 Thin Reg";
    src:url("Fonts/1132129/37994fca-b67e-41db-94b3-44077c62810a.eot?#iefix");
    src:url("Fonts/1132129/37994fca-b67e-41db-94b3-44077c62810a.eot?#iefix") format("eot"),url("Fonts/1132129/0583e751-caca-4cd8-af81-71b2aa5ddbbb.woff2") format("woff2"),url("Fonts/1132129/da176885-bee9-49f7-88f0-d7ad9229ddd7.woff") format("woff"),url("Fonts/1132129/1861a7b7-09a5-4efd-b681-5214784ded39.ttf") format("truetype");
}
@font-face{
    font-family:"Proxima N W01 Light";
    src:url("Fonts/1132144/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix");
    src:url("Fonts/1132144/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix") format("eot"),url("Fonts/1132144/d9fe41ee-4904-4a11-ba11-b61cd3be767f.woff2") format("woff2"),url("Fonts/1132144/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"),url("Fonts/1132144/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype");
}
@font-face{
    font-family:"Proxima N W01 Reg";
    src:url("Fonts/1132159/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
    src:url("Fonts/1132159/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("Fonts/1132159/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("Fonts/1132159/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("Fonts/1132159/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype");
}
@font-face{
    font-family:"Proxima N W01 Smbd";
    src:url("Fonts/1132171/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix");
    src:url("Fonts/1132171/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot"),url("Fonts/1132171/ae47a7f5-89da-4879-b934-29722c3dd451.woff2") format("woff2"),url("Fonts/1132171/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),url("Fonts/1132171/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype");
}
@font-face{
    font-family:"Proxima N W01 Bold";
    src:url("Fonts/1132183/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
    src:url("Fonts/1132183/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"),url("Fonts/1132183/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2") format("woff2"),url("Fonts/1132183/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),url("Fonts/1132183/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype");
}
@font-face{
    font-family:"Proxima N W01 Xbold";
    src:url("Fonts/1132195/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix");
    src:url("Fonts/1132195/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix") format("eot"),url("Fonts/1132195/eb39afe0-709e-46d6-92ad-db5c3bfd24a9.woff2") format("woff2"),url("Fonts/1132195/19dd5cf2-ac2d-48d5-901a-c432fd291ee2.woff") format("woff"),url("Fonts/1132195/22cfbfa4-f607-4751-92eb-6fa194353e57.ttf") format("truetype");
}
@font-face{
    font-family:"Proxima N W01 Black";
    src:url("Fonts/1132207/9b05cd3b-19d8-496a-816b-8de46cf24af1.eot?#iefix");
    src:url("Fonts/1132207/9b05cd3b-19d8-496a-816b-8de46cf24af1.eot?#iefix") format("eot"),url("Fonts/1132207/a086d1e1-d71a-4248-bc5b-6a91bbda0756.woff2") format("woff2"),url("Fonts/1132207/43106d4c-07a9-48c0-bdeb-d82f359c85f5.woff") format("woff"),url("Fonts/1132207/7783372a-b74a-4eb3-902f-ab18b106eb46.ttf") format("truetype");
}

body,
body * {
    font-family: 'Proxima N W01 Reg', sans-serif;
}

img {
    max-width: 100%;
}

a {
    &.underline {
        color: #F5C284;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: solid 1px #F5C284;
    }
}

a:hover{
    text-decoration: none;
}

.site-header {
    transition: all 0.5s ease 0s;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;

    .logo {
        padding-top: 25px;
        img {
            max-width: 150px;
            margin-top: 5px;
        }
        .logo-site{
            display: block;
            width: 150px;
            height: 37px;

            background-image: url('../images/logos/logo.png');
            background-repeat: no-repeat;
            background-size: cover;
            text-indent: 9999px;
        }
    }

    .page-menu {
        text-align: right;
        .navbar-nav {
            .nav-link {       
                font-size: 16px;
                font-weight: 500;
                text-transform: uppercase;
                padding: 5px 15px;

                &.whitePaper {
                    padding-left: 30px;
                    position: relative;                    
                    &::before {
                        content: url('../images/icons/icon_01.png');
                        width: 25px;
                        position: absolute;
                        left: 0;
                        top: 10px;
                    }
                }

                &.lang {
                    text-decoration: underline;
                }
            }
        }
    }

    &.mini {
        height: 80px;
        line-height: 80px;
        background: #fff;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
        
        .logo {
            .logo-site {
                background-image: url('../images/logos/logo_mini.png');
            }
        }

        .page-menu {
            .navbar-nav {
                .nav-link {
                    color: #323232!important;
    
                    &.whitePaper {
                        color: #822f67;
                    }
                }
            }
        }
    }
    .navbar {
        padding: 0;
    }
}

.page-header {
    min-height: 100vh;
    background-image: url('../images/backgrounds/bg_head.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 0;

    .headerText {
        margin: 100px auto 0;
        text-align: center;
        color: #fff;
        h1 {
            font-size: 55px;
            font-weight: 400;
        }
        p {
            font-size: 20px;
            font-weight: 400;
            color: #ffffff;
        }

        .groupsIcon {
            span {
                text-transform: uppercase;
            }
        }
    }
}

.box {
    padding: 100px 185px 120px;
    text-align: center;
    min-height: 400px;
    color: #fff;
    header {
        padding-bottom: 20px;
        h2 {
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 40px;
            color: #F5C284;
            &.tim {
                color: #822f66;
            }
        }
        p {
            font-size: 20px;
            font-weight: 400;
            color: #d6d6d6
        }
    }
    &.page-footer {
        background-image: linear-gradient(219deg, #2d2239 0%, #1d3654 100%);
        position: relative;
        .footer {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            color: #F5C284;
            background: #123551;
            .groupsIcon {
                margin: 0;

                a:hover{
                    text-decoration: none;
                }
            }
            p {
                margin: 0;
                line-height: 50px;
            }
        }
    }
    dl {
        dt {
            font-weight: 600;
            color: #F5C284;
        }
        dd {
            font-weight: 600;
            margin-bottom: 30px;
        }
    }
    &.smart-contract {
        background-image: linear-gradient(219deg, #1d3654 0%, #2d2239 100%);
    }
    &.partners {
        background: #f3f1f4;
    }
    &.road-map {
        background-image: linear-gradient(219deg, #061d2d 0%, #123651 100%);
    }
    &.token {
        background-image: linear-gradient(219deg, #812f67 0%, #48365b 100%);
        .sub {
            text-transform: uppercase;
            position: relative;
            font-size: 20px;
            font-weight: bold;
            color: #F5C284;
            margin: 30px 0;
        }
        header {
            p {
                text-align: left;
                font-size: 16px;
            }
        }
    }
    &.events {
        background: #f0f1f3;
        header {
            p {
                color: #323232;
            }
        }
    }
    &.featured, &.partners {
        background: #f0f1f3;
        .carousel-indicators {
            bottom: -70px;
            li {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #F5C284;
                margin: 0 30px;

                &.active {
                    background: #822f66;
                }
            }
        }
    }
    &.about-us {
        .tab-content {
            padding-top: 70px;
        }
        iframe {
            width: 100%;
            height: 270px;
        }
    }
}

.input-group {
    max-width: 450px;
    margin: 0 auto;
    input {
        height: 45px;
        padding-left: 40px;
        font-size: 16px;
        font-weight: bold;
    }
    button {
        background: #F5C284;
        color: #fff;
        text-transform: uppercase;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.groupsIcon {
    line-height: 50px;
    margin: 20px 0;

    &.text {
        margin: 40px 0;
    }
}

.tabItems {
    padding: 0 10px 0px 10px 0;

    .item {
        text-align: left;
        color: #323232;

        h3 {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 10px 0;            
        }

        p {
            margin: 0;
        }

        &:first-child h3{
            margin-top: 0;
        }

        .icons{
            display: block;

            background-image: url('../images/about/05.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 45px;
            height: 44px;
            margin-bottom: 30px;
        }

        .for-consumers{
            background-image: url('../images/about/01.png');
        }
        .for-insurers{
            background-image: url('../images/about/02.png');
        }
        .for-distributors{
            background-image: url('../images/about/03.png');
        }
        .for-philosophy{
            background-image: url('../images/about/04.png');
        }
        .for-created-before{
            background-image: url('../images/about/05.png');
        }
    }
}

.nav-tabs {
    .about-us & {
        border: 0;

        .nav-link {
            border: solid 1px #F5C284;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            font-size: 16px;
            text-transform: uppercase;
            color: #F5C284;
            &.active,
            &:hover
            {
                background: #822f66;
                border: solid 1px #822f66;
            }
            font-weight: bold;
            height: 45px;
            line-height: 25px;
        }
    }
}

.icon {
    position: relative;
    padding: 10px 30px;
    color: #F5C284;
    font-size: 16px;
    &::before {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
    }
    &.icon01 {
        &::before {
            content: url('../images/icons/icon_01.png');
        }
    }
    &.icon02 {
        &::before {
            content: url('../images/icons/icon_02.png');
        }
    }
    &.icon03 {
        &::before {
            content: url('../images/icons/icon_03.png');
        }
    }
    &.icon04 {
        &::before {
            content: url('../images/icons/icon_04.png');
        }
    }
    &.icon04 {
        &::before {
            content: url('../images/icons/icon_04.png');
        }
    }
    &.icon05 {
        &::before {
            content: url('../images/icons/icon_05.png');
        }
    }
    &.icon06 {
        &::before {
            content: url('../images/icons/icon_06.png');
        }
    }
    &.icon07 {
        &::before {
            content: url('../images/icons/icon_07.png');
        }
    }
}

.subTitle {
    position: relative;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #323232;
    margin: 30px 0 20px;

    &::before {
        content: '';
        position: absolute;
        left: calc(50% - 50px);
        bottom: -10px;
        width: 100px;
        height: 3px;
        background: #F5C284;
    }
}

.listItem {
    margin: 0;
    padding: 0;
    .item {
        float: left;
        display: block;
        width: 20%;
        padding: 20px 10px;
        img {
            width: 50px;
            height: 50px;
            margin: 0 auto 15px;
        }
        p {
            color: #323232;
            font-size: 16px;
            font-weight: 400;
        }
    }
    .partners & {
        .item {
            img {
                width: auto;
                height: 100px;
            }
        }
    }
    .teams & {
        .item {
            padding-left: 120px;
            text-align: left;
            position: static;
            h3 {
                color: #323232;
                margin: 10px 0;
                font-size: 18px;
                font-weight: 600;
            }

            img {
                // position: absolute;
                // left: 10px;
                width: 110px;
                height: 110px;
                padding: 0;
                margin: 0;
                margin-top: -3px;
            }
            .icon {
                top: 10px;
            }
            .tit {
                font-size: 14px;
                color: #F5C284;
            }
            &:hover {
                .bordered-box{
                    border-color: #822f67;
                }
            }
            .bordered-box.active{
                border-color: #822f67;
            }
        }
    }
    .news & {
        .item {
            text-align: left;

            span {
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;
                color: #323232;
            }

            img {
                width: 100%;
                height: auto;
                border: 1px solid transparent;
               
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                -webkit-transition: 0.3s linear;
                transition: 0.3s linear;

                &:hover{
                    border-color: #812f67;
                    opacity: 0.9;
                    
                    -webkit-filter: none;
                    filter: none;
                    -webkit-transition: initial;
                    transition: initial;
                }
            }
        }
    }
    .events & {
        list-style: none;
        li {
            padding: 10px;
        }
        .item {
            width: 100%;
            text-align: left;
            background: #fff;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
            h3 {
                font-size: 18px;
                color: #323232;
                text-align: left;
                font-weight: bold;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .content {
                padding-left: 110px;
                position: relative;
                img {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    left: 0;
                    margin: 0;
                    border: 1px solid transparent;                   
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                    -webkit-transition: 0.3s linear;
                    transition: 0.3s linear;

                    &:hover{
                        border-color: #812f67;
                        opacity: 0.9;
                        
                        -webkit-filter: none;
                        filter: none;
                        -webkit-transition: initial;
                        transition: initial;
                    }

                }
                p {
                    margin-bottom: 5px;
                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.listImage {
    padding: 0;
    margin: 0;
    list-style: none;
    .item {
        width: 20%;
        float: left;
        padding: 10px 25px;
        img {
            width: 100%;
            height: auto;
        }
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: 0.3s linear;
        transition: 0.3s linear;

        &:hover{
            -webkit-filter: none;
            filter: none;
            -webkit-transition: initial;
            transition: initial;
        }
    }
}

.steps {
    margin: 0;
    padding: 0;
    .item {
        float: left;
        display: block;
        width: 20%;
        padding: 10px;
        text-align: left;
        position: relative;
        &::after {
                content: '';
                position: absolute;
                right: 10px;
                top: 41px;
                width: 75px;
                border-top: dotted 1px #F5C284;
            }
        img {
            width: 60px;
            height: 60px;
            margin-bottom: 20px;
            position: relative;
        }
        h3 {
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            margin-bottom: 10px;
            
        }
        p {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
        }
        &:last-child {
            &::after {
                border: none;
            }
        }

        .fa-play{
            position: absolute;
            top: 37px;
            right: 9px;
            font-size: 10px;
            z-index: 111;
        }
    }
    .items-01{
        &::after{
            border-color: #8bcfd2;
        }
        .fa-play{
            color: #8bcfd2;
        }
    }
    .items-02{
        &::after{
            border-color: #ffffff;
        }
        .fa-play{
            color: #ffffff;
        }
    }
    .items-03{
        &::after{
            border-color: #f5c284;
        }
        .fa-play{
            color: #f5c284;
        }
    }
    .items-04{
        &::after{
            border-color: #df474d;
        }
        .fa-play{
            color: #df474d;
        }
    }

    .road-map & {
        .item {
            width: auto;
            &::after {
                    border: 0;
                }
            img {
                width: auto;
                height: 70px;
            }
            h3 {
                color: #fff;
                margin-bottom: 30px;
                
            }
            p {
                color: #fff;
            }
            &:last-child {
                &::after {
                    border: none;
                }
            }
        }
    }
}

.list-style {
    list-style: none;
    padding: 0;
    li {
        position: relative;
        border-left: dotted 1px #F5C284;
        padding-left: 30px;
        padding-bottom: 30px;
        text-align: left;
        &::before {
            content: '';
            width: 16px;
            height: 16px;
            background: #F5C284;
            border-radius: 50%;
            left: -8px;
            position: absolute;
        }
        &:last-child {
            border: 0;
        }
        &.last-child{
            border-left: none!important;
        }
    }
    .token & {
        h4 {
            font-size: 20px;
        }
        li {
            border: 0;
            p {
                margin: 0;
            }
        }
    }
}

.teams .listItem .item .bordered-box{
    width: 110px;
    height: 110px;
    background: transparent;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    border: 2px solid #f5c284;
    overflow: hidden;
    // left: -120px;
    margin-left: -120px;
    float: left;
}

.teams .listItem{
    position: relative;
}

.item-1{
    .list-style li{
        border-left: 1px dotted #9fd5b3;
        &::before{
            background: #9fd5b3;
        }
    }
}

.item-2{
    .list-style li{
        border-left: 1px dotted #8bcfd2;
        &::before{
            background: #8bcfd2;
        }
    }
}

.item-3{
    .list-style li{
        border-left: 1px dotted #df6b6c;
        &::before{
            background: #df6b6c;
        }
    }
}

.item-4{
    .list-style li{
        border-left: 1px dotted #f4c283;
        &::before{
            background: #f4c283;
        }
    }
}

.road-map .steps .item-1 h3{
    color: #9fd5b3;
}
.road-map .steps .item-2 h3{
    color: #8bcfd2;
}
.road-map .steps .item-3 h3{
    color: #df6b6c;
}
.road-map .steps .item-4 h3{
    color: #f4c283;
}

.token .list-style li.item-1:before{
    background: #ffffff;
}
.token .list-style li.item-2:before{
    background: #8bcfd2;
}
.token .list-style li.item-3:before{
    background: #822f67;
}
.token .list-style li.item-4:before{
    background: #df6b6b;
}
.token .list-style li.item-5:before{
    background: #f4c182;
}

.home-news-title{
    
    a{
        font-size: 16px!important;
        color: #323232;
    }
}

.text-center {
    text-align: center;
}

.page-detail{
    padding: 30px 0;
}

.post-template-default,
.page-template-default {
    .page-detail{
        padding-top: 130px;
    }
}

h1.subTitle{
    margin-top: 0;
}

.home .site-header .page-menu .navbar-nav .nav-link{
    color: #ffffff;
}

.site-header .page-menu .navbar-nav .nav-link.whitePaper{
    color: #822f66;
}

.home .site-header .page-menu .navbar-nav .nav-link.whitePaper{
    color: #F5C284 !important;
}

.single .single-box{
    display: block;
    h5{
        margin-top: 25px;
        margin-bottom: 0;
        font-weight: bold;
    }

    .groupsIcon{
        margin-top: 0;
    }
}

.scrollup {
    text-align:center;
    cursor:pointer;
    vertical-align:middle;
    width:39px;
    height:39px;
    border-radius:5px;
    font-size:20px;
    position:fixed;
    bottom:30px;
    right:20px;
	border:1px solid #fff;
    display:none;
    background: #FECE1A;
}
.scrollup > a {
    position:relative;
    top:7px;
    color:#fff;
}
.core-team-item-div{
    position: absolute;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: -20px;
    left: 0;
    border: 2px solid #822f66;
    z-index: 2;
    background: #fff;
    display: none;
    color: #232323;
}

.strict-direction{
    color: #822f66;
    font-size: 35px;
    display: none;
}

.open .core-team-item-div,
.open .strict-direction{
    display: block;
}

.teams .listItem .item.open .tit{
    color: #822f66;
    font-weight: bold;
}

@import "responsive";