
/*Responsive CSS*/
ul.faq {
  margin: 0;
  padding: 0;
}

ul.faq li{
  padding-left: 0;
}

ul, li { list-style: none; }
.title {
  height: 40px;
  background: #6bb170;
  color: white;
  text-align: center;
  padding-top: 13px;
}

.faq li { padding: 10px 20px; }

.faq li.q {   
  cursor: pointer;
}

.faq li.q i{
  font-size: 120%;
  margin-right: 10px;
}

.faq li.q i.fa-plus{
  color: #f5c284;
}

.faq li.q i.fa-minus{
  color: #822f66;
}

.faq li.a {
  display: none;
  padding-left: 30px;
  padding-top: 0px;
  color: #822f66;
}

.rotate {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media (max-width:800px) {

#container { width: 90%; }
}
